# Python
__pycache__/
*.py[cod]
.Python

# Entornos virtuales
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Modelos entrenados (archivos pesados — los comparten por separado)
models/*.joblib

# IDE
.vscode/
.idea/

# Streamlit secrets
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db
